.input-field label {
    color: white;
    border-color: white;
  }
  
  .input-field input[type="text"]:focus + label {
    color: white;
  }
  
  /* label underline focus color */
  .input-field input[type="text"]:focus {
    color: white;
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
  }
  
  .input-field {
    color: white;
    border-color: white;
  }